body {padding-top: 50px; }
@media screen and (max-width: 700px) {
	container {width:auto; }
}
@media screen and (min-width: 700px) {
	container {max-width:1000px; }
}
.s_txt_div{margin:20px;}
.navbar-brand {
	padding: 0px 15px;
}
#login-btn {
	margin-right: 15px;
}