@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
	padding-top: 50px; 
	font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 700px) {
	container {width:auto; }
}
@media screen and (min-width: 700px) {
	container {max-width:1000px; }
}

ul {
	list-style: none;
}

.animated { 
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeBgColor {
	0%{
		background:rgba(70,70,70,0.6);
	}
  70%{
		background:none;
	}
	100%{
		background:none;
	}
}
@-o-keyframes fadeBgColor {
	0%{
		background:rgba(70,70,70,0.6);
	}
  70%{
		background:none;
	}
	100%{
		background:none;
	}
}
@keyframes fadeBgColor {
	0%{
		background:rgba(70,70,70,0.6);
	}
  70%{
		background:none;
	}
	100%{
		background:none;
	}
}
.animated.fadeBgColor {
	-webkit-animation-name: fadeBgColor;
	-moz-animation-name: fadeBgColor;
	-o-animation-name: fadeBgColor;
	animation-name: fadeBgColor;
}


.navbar {
	background-color: rgba(70,70,70,0);
	border:none;
}
.navbar .container-fluid {
	width: 1170px;
	height: 70px;
}
.s_txt_div{margin:20px;}
.navbar-brand {
	padding: 0px 15px;
}
.navbar-brand img {
	margin-top: 18px;
}
#login-btn ul {
	margin: 19px 0 0 0;
}
#login-btn ul li a{
	color: #fff;
	font-size: 20px;
	line-height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	text-decoration: none;
	padding:5px 10px;
	border-radius: 8px;
	background-color: rgba(70,70,70,0);
	-webkit-transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	transition: .3s ease;
}
#login-btn ul li a:hover{
	color: #111;
	text-decoration: none;
	background-color: white;


}
#myCarousel {
	margin-top: -60px;
	position: relative;
}
.slogan-wrapper {
	text-shadow: rgba(0,0,0,0.5) 0 1px 5px;
	color: white;

	position: absolute;
	top: 20%;
	left: 10%;
	text-align: center;
	width: 80%;
}
.slogan-wrapper h1{
	text-transform: uppercase;
	font-size: 3.5em;
}
.searchBlurbContainter{
	position: relative;
	margin: 0 auto 20px;
	text-align: center;
	max-width: 490px;
	height: 52px;
	background: url(../img/searchbar.png) 0 0 no-repeat;
	margin-top: 2%;
}
#searchInputReplacement #searchInputSplash {
	font-size: 1.5em;
	line-height: 52px;
	padding: 0;
	height: 52px;
	border: none;
	margin-left: 52px;
	float: left;
	width: 310px;

}
#searchInputSplash {
	color: black;
}
input, a, a:focus {
	outline: 0;
}